@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

.staff-member-photo {
    width: 150px;
}
.tc-gallery-style {
    text-align: center;
}

.dirty-controls .selectize-input {
    background-color: pink
}

.control-box {
    border: 2px solid #dddddd;
    border-radius: 5px;
    padding: 0 10px;
    margin: 10px -10px 10px -10px
}

.scroll-area {
    overflow-y: auto;
    overflow-x: auto;
    position: relative;
    /* allows children to be positioned absolute relative to this div */
}

.img-center {
    /* must be in a div containing img since images don't have text-align */
    text-align: center;
}

.table-area {
    position: relative;
}

.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 100px;
}

.xtooltip {
    position: relative;
    display: inline-block;
}

.xtooltip .xtooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: white;
    color: black;
    text-align: left;
    border-radius: 6px;
    border-style: solid;
    padding: 5px 5px;
    /* Position the tooltip */
    position: absolute;
    z-index: 99;
    top: -5px;
    right: 105%;
}

.xtooltip:hover .xtooltiptext {
    visibility: visible;
}


/*Navbar 
-------------------------------------------------- */

.navbar {
    font-family: 'Libre Baskerville', serif;
    background: linear-gradient(rgb(49, 65, 154), rgb(42, 52, 119));
}

.navbar ul {
    font-family: 'Helvetica', sans-serif;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background-color: #4253a4;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color:white;
}


.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    background-color: #4253a4;
    color:white;
}

/* DropVis Jumbotron 
-------------------------------------------------- */

.jumbotron {
    text-align: center;
    border: 2px solid #2a3377;
    background-color: white;
    box-shadow: 1px 1px 5px grey;
}

.jumbotron .heading {
    font-family: 'Libre Baskerville', serif;
}

.jumbotron h1 {
    font-size: 64px;
    color: #2a3377;
    margin-bottom: 30px;
    margin-top:10px;
}

.jumbotron h3 {
    font-size: 19px;
    text-align: left;
    color: #2a3377;
}

.jumbotron .lead {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    text-align: left;
    font-weight: inherit;
}

.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
    background: radial-gradient(rgb(49, 65, 154), rgb(42, 52, 119)); ;
    border-color: #202758 ;
    margin-top:20px;
}
.jumbotron .btn-default:hover{
    color:#ccc9d8;
    background: radial-gradient(rgb(42, 52, 119), rgb(22, 30, 87));
    border-color: #202758 ;
}

@media screen and (min-width: 768px) {
    .jumbotron{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 20px;
        margin-bottom:40px;
    }
    .jumbotron .lead{
        font-size: 19px;
        font-weight:200;
    }
}

div.tab-pane.active > div > div.col-sm-8{
    width: 80%
}

div.tab-pane.active > div > div.col-sm-2{
    width: 10%
}

/* Example menu
-------------------------------------------------- */

h2{
   font-family: 'Libre Baskerville', serif;
    color: #2a3377;
    font-size:23px;
    margin-left:0.75rem;
    text-align: left;    
}

h2.Param{
    margin-top:0;
    margin-bottom: 1em;
    margin-left:-0.4em;
}
.btn-default{
    background: radial-gradient(rgb(49, 65, 154), rgb(42, 52, 119)); 
    border-color: #202758 ;
    margin-top:20px;
    margin-bottom:30px;
    color:white;
}

.btn-default:hover, .btn-default:focus{
    color:#ccc9d8;
    background: radial-gradient(rgb(42, 52, 119), rgb(22, 30, 87));
    border-color: #202758 ;
}

div.container.marketing{
    clear:left;
}

p.note{
    font-family: 'Libre Baskerville', serif;
    color: #2a3377;
    font-size:13px;
    margin-left:0;
    text-align: center; 
    margin-bottom: -20px;
}
/* Featurette
-------------------------------------------------- */

hr.featurette-divider{
    border-top: 2px solid #2a3377;
    clear:left;
    margin-bottom: 40px;
}
h2.featurette-heading{
    margin-left: 0;
}

div.featurette a.btn{
    margin-top: 10px;
 margin-bottom: 20px;
}

dt{
    display: inline-block;
    margin-right: 3px;
}
dl{
    margin-bottom:0px;
}
.citation{
    font-size:70%;
    margin-bottom: 10px;
}

/* Funding
-------------------------------------------------- */
div.crop{
    width: 205px;
    height:52px;
    overflow:hidden;
}
div.funding-section img{
    width: 205px;
    float: left;
    margin-bottom: 15px;
    margin-left: 15px;
}

div.crop img{
    margin-top: -45px;
}

div.funding{
    width: 50%;
    float:left;
}

div.funding-section{
    width:60%;
    margin:auto;
}
div.funding h2{
    margin-top:0;
}



/* Well
-------------------------------------------------- */

.well{
    background-color: #eef0f5;
    border: 1px solid #31419a;
    margin-top: -2px;
}

.control-box{
    border: 1px solid #31419a;
    padding-top:15px;
    background-color: #f7f7f9;
    margin-top:-1px;
}

.well .nav-tabs>li>a{
    color: black;
    margin-right: -1px;
    color:#2a3377
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:active{
    border: 1px solid #31419a;
    border-bottom-color: transparent;
    color:#2a3377;
    background-color: #f7f7f9;
}

.col-sm-9 .nav-tabs>li.active>a, .col-sm-9 .nav-tabs>li.active>a:focus, .col-sm-9 .nav-tabs>li.active>a:hover, .col-sm-9 .nav-tabs>li.active>a:active{
    border: 2px solid #31419a;
    border-bottom-color: transparent;
    color:#2a3377;
    background-color: white;
}

.selectize-input{
    border: 1px solid #403d85;
}



label{
    font-weight: inherit;
    color:#2a3377
}

.well .btn{
    margin:0;
    margin-left: -9px;
}


.tabbable a{
    color:#625e5e;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background-color: #eef0f5;
    border: 1px solid #989cc3;
    color: black;
}

.well .nav>li>a{
    padding: 7px 7px;
}

.well .nav>li>a:hover {
    background-color: white;
}

.nav>li>a:hover {
    background-color: #eef0f5;
}

@media screen and (max-width: 1055px) {
    .well .nav-tabs>li.active>a, .well .nav-tabs>.well li.active>a:focus, .well .nav-tabs>li.active>a:hover, .well .nav-tabs>li.active>a:active{
    background-color: #f7f7f9;
    border: 1px solid #31419a;
    border-left-color: transparent;
    color:#2a3377;
}
    .well .nav-tabs>li>a{
    border-left: 1px solid #31419a;
    border-bottom: transparent;
    }
    .well .nav-tabs>li{
    float:left;
    clear:left;
    }
    
}

.col-sm-9>div.tabbable>.tab-content{
    border-top: 2px solid #31419a;
    margin-top: -2px;
    padding-top: 5px;
}

hr{
    border-top: 2px solid #31419a;
}


.well .xtooltip .xtooltiptext{
    right:-500px;
    width: 500px;
}



/* Team Page
-------------------------------------------------- */
h1{
    color: #2a3377;
     font-family: 'Libre Baskerville', serif;
}

h3{
    color: #2a3377;
    font-size: 160%;
}

div.staff-member-info-wrap, div.staff-thumb{
    text-align: center;
}

div.col-md-2 {
    width: 8%;
}

div.staff-thumb{
    height: 200px;
}

div.staff-thumb.sara{
    height: inherit;
}

div.col-md-3{
    margin-bottom: 40px
}

div.staff-summary{
    width: 200px;
}

div.staff-summary.leader{
    width: 300px;
}

p.staff-position{
    min-height: 2em;
    margin:0;
}

hr.featurette-divider.half{
    border-top: white;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */


/* Carousel base class */

.carousel {
    margin-bottom: 4rem;
}


/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    z-index: 10;
    bottom: 3rem;
}


/* Declare heights because of positioning of img element */

.carousel-item {
    height: 32rem;
    background-color: #777;
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */


/* Center align the text within the three columns below the carousel */

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
    text-align: left;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0;
    /* Space out the Bootstrap <hr> more */
}


/* Thin out the marketing headings */

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

.featurette-links {
    border: 1px solid blue;
    height: 150px;
    display: flex;
    /* defines flexbox */
    align-items: flex-end;
    /* bottom of the box */
}
